<a href="https://colab.research.google.com/github/couch-taco/Advent-of-Code/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 1

In [73]:
import requests
import json
import pandas as pd
from pandas import json_normalize
import difflib
from google.colab import drive

drive.mount('/content/drive')
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vRsEWUNf1bMIvrKiNW1NgSTLxPV9ZkCfEHgu5UEezKwhADdA2jQQhSaLzH42ydus-DfHUjfGRktplv8/pub?gid=0&single=true&output=csv'
df = pd.read_csv(url)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [70]:
import pandas as pd

# Extract first and last digits into new columns
df['first_digit'] = df['inputs'].str.extract(r'(\d)')
df['last_digit'] = df['inputs'].str.extract(r'(\d)(?=\D*$)')

# Combine the results to get the final digit
df['last_digit'] = df['last_digit'].combine_first(df['first_digit'])

df['combined_digits'] = df['first_digit'] +df['last_digit']
# Convert the new 'last_digit' column to numeric type if needed
df['combined_digits'] = pd.to_numeric(df['combined_digits'])

# Print the modified DataFrame
print(df)

                           inputs first_digit last_digit  combined_digits
0                     9sixsevenz3           9          3               93
1        seven1cvdvnhpgthfhfljmnq           1          1               11
2    6tvxlgrsevenjvbxbfqrsk4seven           6          4               64
3                            9zml           9          9               99
4                      52sevenone           5          2               52
..                            ...         ...        ...              ...
995                   63hbdkxljlq           6          3               63
996    64eight6eight6gxdpmtnbfone           6          6               66
997                      28xcbtt1           2          1               21
998                         1six5           1          5               15
999                       four289           2          9               29

[1000 rows x 4 columns]

In [71]:
sum(df['combined_digits'])

54597

Part 2

In [125]:
import requests
import json
import pandas as pd
from pandas import json_normalize
import difflib
from google.colab import drive

drive.mount('/content/drive')
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vRsEWUNf1bMIvrKiNW1NgSTLxPV9ZkCfEHgu5UEezKwhADdA2jQQhSaLzH42ydus-DfHUjfGRktplv8/pub?gid=0&single=true&output=csv'
df2 = pd.read_csv(url)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [126]:
import pandas as pd

# Assuming your DataFrame is named df and the column is 'your_column'
number_mapping = {
    'zero': 'z0o',
    'one': 'o1e',
    'two': 't2o',
    'three': 't3e',
    'four': 'f4r',
    'five': 'f5e',
    'six': 's6x',
    'seven': 's7n',
    'eight': 'e8t',
    'nine': 'n9e'
}

df2['inputs_fixed'] = df['inputs'].replace(number_mapping, regex=True)

In [127]:
import pandas as pd

# Extract first and last digits into new columns
df2['first_digit'] = df2['inputs_fixed'].str.extract(r'(\d)')
df2['last_digit'] = df2['inputs_fixed'].str.extract(r'(\d)(?=\D*$)')

# Combine the results to get the final digit
df2['last_digit'] = df2['last_digit'].combine_first(df2['first_digit'])

df2['combined_digits'] = df2['first_digit'] +df2['last_digit']
# Convert the new 'last_digit' column to numeric type if needed
df2['combined_digits'] = pd.to_numeric(df2['combined_digits'])

df2

,inputs,inputs_fixed,first_digit,last_digit,combined_digits
0,9sixsevenz3,9s6xs7nz3,9,3,93
1,seven1cvdvnhpgthfhfljmnq,s7n1cvdvnhpgthfhfljmnq,7,1,71
2,6tvxlgrsevenjvbxbfqrsk4seven,6tvxlgrs7njvbxbfqrsk4s7n,6,7,67
3,9zml,9zml,9,9,99
4,52sevenone,52s7no1e,5,1,51
...,...,...,...,...,...
995,63hbdkxljlq,63hbdkxljlq,6,3,63
996,64eight6eight6gxdpmtnbfone,64e8t6e8t6gxdpmtnbfo1e,6,1,61
997,28xcbtt1,28xcbtt1,2,1,21
998,1six5,1s6x5,1,5,15
999,four289,f4r289,4,9,49

In [128]:
sum(df2['combined_digits'])

54504