<a href="https://colab.research.google.com/github/couch-taco/Advent-of-Code/blob/main/day_5_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install aocd

In [ ]:
from aocd import get_data, submit
import pandas as pd
import numpy as np
import re

In [ ]:
puzzel_year = 2023
puzzel_day = 5
cookies = ''
raw = get_data(day = puzzel_day, year = puzzel_year, session= cookies)

In [ ]:
test_data = """seeds: 79 14 55 13

seed-to-soil map:
50 98 2
52 50 48

soil-to-fertilizer map:
0 15 37
37 52 2
39 0 15

fertilizer-to-water map:
49 53 8
0 11 42
42 0 7
57 7 4

water-to-light map:
88 18 7
18 25 70

light-to-temperature map:
45 77 23
81 45 19
68 64 13

temperature-to-humidity map:
0 69 1
1 0 69

humidity-to-location map:
60 56 37
56 93 4"""

In [ ]:
data = raw

In [ ]:
df = pd.DataFrame(data = data.split('\n'))
df.columns = ['row']

In [ ]:
df

In [ ]:
rows = np.arange(0, len(df), 1, dtype = int)

In [ ]:
a=1
for x in rows:
  #temp_table = pd.DataFrame(columns = ['row'])
  i = 1
  if x == 0:
    #name = df.iloc[x,0]
    #name = name.split(':')[0]
    globals()[f'table_{a}'] = df[x:x+1]
    a+=1
  elif df.iloc[x, 0] == '':
    #name = df.iloc[x+1,0]
    #name = name.split(' ')[0]
    while df.iloc[x+i, 0] != '' and x+i+1 != len(df):
      if x+i+2 == len(df):
        i +=1
        globals()[f'table_{a}'] = df[x+2:x+i+2]
      elif df.iloc[x+i, 0] != '':
        i +=1
        globals()[f'table_{a}'] = df[x+2:x+i]
    a+=1
  else:
    continue

In [ ]:
def table_clean(a):
  globals()[f'table_{a}'] = globals()[f'table_{a}']['row'].str.split(' ', expand=True)
  return

In [ ]:
def add_range(a):
  temp_table =  globals()[f'table_{a}']
  temp_table = temp_table.rename(columns={0: "var1_start", 1: "var2_start", 2:'length'})
  temp_table = temp_table.astype(int)
  temp_table['var1_end'] = temp_table['var1_start'] + temp_table['length'] -1
  temp_table['var2_end'] = temp_table['var2_start'] + temp_table['length'] -1
  temp_table = temp_table.astype(int)
  globals()[f'table_{a}_range'] = temp_table
  return

In [ ]:
def seed_map(a):
  seeds.loc[len(seeds)] = '.'
  for y in np.arange(1, seeds.shape[1]+1, 1, dtype = int):
    temp_table_map =  globals()[f'table_{a}_range']
    condition = (seeds.loc[a-2,y] >= temp_table_map['var2_start']) & (seeds.loc[a-2,y] <= temp_table_map['var2_end'])
    condition2 = (seeds.loc[a-2,y] == temp_table_map['var2_start']) | (seeds.loc[a-2,y] == temp_table_map['var2_end'])
    if np.sum(condition) >= 1:
      difference = int(seeds.loc[a-2,y] - temp_table_map.loc[condition, 'var2_start'].values[0])
      #print(difference)
      start_value = int(temp_table_map.loc[condition, 'var1_start'].values[0] )
      mapped_num = start_value+difference
     # print(mapped_num)
      seeds.loc[a-1,y] = mapped_num
    else:
      difference = None

    if seeds.loc[a-1,y] == '.':
      seeds.loc[a-1,y] = seeds.loc[a-2,y]
  return

In [ ]:
aa = np.arange(1, a, 1, dtype = int)
aa
for t in aa:
  table_clean(t)
  if t == 1:
    continue
  else:
    add_range(t)

In [ ]:
seeds = table_1.iloc[: , 1:]
seeds = seeds.astype(int)
#seeds.loc[len(seeds)] = '.'
seeds#.loc[0,1]
#seeds.shape[1]

In [ ]:
np.arange(0, len(new_seeds), 1, dtype = int)

Part 1

In [ ]:
aa = np.arange(2, a, 1, dtype = int)
aa
for t in aa:
  seed_map(t)

part 2

In [ ]:
z = 1
new_seeds = pd.DataFrame(columns= ('Range_start', 'Range_end'))
while z-1 != seeds.shape[1]:
  new_seeds.loc[len(new_seeds)] = [seeds.loc[0,z], seeds.loc[0,z]+seeds.loc[0,z+1]-1]
  new_seeds.reset_index(drop=True)

  z += 2
new_seeds.reset_index(drop=True)
new_seeds

In [ ]:
new_seeds

In [ ]:
intervals=table_8_range
intervals = intervals.sort_values(by=['var2_start'])
intervals= intervals.reset_index(drop=True)

In [ ]:
intervals

In [ ]:
new_rng = pd.DataFrame(columns= ('Range_start', 'Range_end'))
new_seeds = new_seeds.reset_index(drop=True)
for sr in np.arange(0, len(new_seeds), 1, dtype = int):
  source_rng= new_seeds.loc[sr:sr]
  source_rng= source_rng.reset_index(drop=True)
  #temp_rng = pd.DataFrame(columns= ('Range_start', 'Range_end'))
  #ii = np.arange(0, len(intervals), 1, dtype = int)
  for i in np.arange(0, len(intervals), 1, dtype = int):
    for s in np.arange(0, len(source_rng), 1, dtype = int):
      source_rng= source_rng.reset_index(drop=True)
      temp_rng = pd.DataFrame(columns= ('Range_start', 'Range_end'))
      #print(f"first: {source_rng.loc[s,'Range_start']}")
      #print(f"second: {source_rng.loc[s,'Range_end']-1}")
      #print(f"third: {intervals.loc[i,'var2_start']}")
      left = [source_rng.loc[s,'Range_start'], min(source_rng.loc[s,'Range_end']-1,intervals.loc[i,'var2_start'])]
      #print(left)
      mid = [max(source_rng.loc[s,'Range_start'],intervals.loc[i,'var2_start']), min(source_rng.loc[s,'Range_end'],intervals.loc[i,'var2_end'])]
      right = [max(source_rng.loc[s,'Range_start'],intervals.loc[i,'var2_end']),source_rng.loc[s,'Range_end']]
      if (left[1] >= left[0]):
        temp_rng = temp_rng.append(pd.DataFrame([left], columns=['Range_start', 'Range_end']))
        #print(temp_rng)
      if mid[1]>=mid[0]:
        #print(mid)
        new_rng.loc[len(new_rng)] = [(mid[0] - intervals.loc[i,'var2_start'] + intervals.loc[i,'var1_start']),(mid[1] - intervals.loc[i,'var2_start'] + intervals.loc[i,'var1_start'])]
      if right[1]>=right[0]:
        temp_rng = temp_rng.append(pd.DataFrame([right], columns=['Range_start', 'Range_end']))
      #print(s)
    #print(f"left: {left}")
    #print(f"mid: {mid}")
    print(f"right: {right}")
    #print(i)
    #print(temp_rng)
    source_rng = temp_rng
  new_rng = new_rng.append(source_rng)

new_seeds = new_rng
#temp_rng
#new_rng.loc[len(new_seeds)] = temp_rng
#new_rng

In [ ]:
new_seeds

In [ ]:
new_seeds.min()