<a href="https://colab.research.google.com/github/couch-taco/Advent-of-Code/blob/main/day_5_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install aocd

Requirement already satisfied: aocd in /usr/local/lib/python3.10/dist-packages (0.1)
Requirement already satisfied: advent-of-code-data in /usr/local/lib/python3.10/dist-packages (from aocd) (2.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from advent-of-code-data->aocd) (4.11.2)
Requirement already satisfied: pebble in /usr/local/lib/python3.10/dist-packages (from advent-of-code-data->aocd) (5.0.5)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from advent-of-code-data->aocd) (2.0.7)
Requirement already satisfied: aocd-example-parser>=2023.2 in /usr/local/lib/python3.10/dist-packages (from advent-of-code-data->aocd) (2023.12.6)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->advent-of-code-data->aocd) (2.5)

In [3]:
from aocd import get_data, submit
import pandas as pd
import numpy as np
import re

In [4]:
puzzel_year = 2023
puzzel_day = 5
cookies = '53616c7465645f5fa99db419ed3279b787a9b989e727c6514ef5bf9a86429b33c3c7e8f4351d29b496d29c6e73448a76ba5af77004a4d0d0164f2d52793e0667'
raw = get_data(day = puzzel_day, year = puzzel_year, session= cookies)

In [344]:
test_data = """seeds: 79 14 55 13

seed-to-soil map:
50 98 2
52 50 48

soil-to-fertilizer map:
0 15 37
37 52 2
39 0 15

fertilizer-to-water map:
49 53 8
0 11 42
42 0 7
57 7 4

water-to-light map:
88 18 7
18 25 70

light-to-temperature map:
45 77 23
81 45 19
68 64 13

temperature-to-humidity map:
0 69 1
1 0 69

humidity-to-location map:
60 56 37
56 93 4"""

In [5]:
data = raw

In [6]:
df = pd.DataFrame(data = data.split('\n'))
df.columns = ['row']

In [7]:
df

                                                   row
0    seeds: 3121711159 166491471 3942191905 1548554...
1
2                                    seed-to-soil map:
3                        522866878 679694818 556344137
4                       1206934522 1236038955 57448427
..                                                 ...
182                   1111558812 2115272893 1374715990
183                    3356676818 3489988883 239746683
184                     3297710080 1614928763 58966738
185                     2486274802 4162599840 35752676
186                     3596423501 4198352516 96614780

[187 rows x 1 columns]

In [8]:
rows = np.arange(0, len(df), 1, dtype = int)

In [9]:
a=1
for x in rows:
  #temp_table = pd.DataFrame(columns = ['row'])
  i = 1
  if x == 0:
    #name = df.iloc[x,0]
    #name = name.split(':')[0]
    globals()[f'table_{a}'] = df[x:x+1]
    a+=1
  elif df.iloc[x, 0] == '':
    #name = df.iloc[x+1,0]
    #name = name.split(' ')[0]
    while df.iloc[x+i, 0] != '' and x+i+1 != len(df):
      if x+i+2 == len(df):
        i +=1
        globals()[f'table_{a}'] = df[x+2:x+i+2]
      elif df.iloc[x+i, 0] != '':
        i +=1
        globals()[f'table_{a}'] = df[x+2:x+i]
    a+=1
  else:
    continue

In [10]:
def table_clean(a):
  globals()[f'table_{a}'] = globals()[f'table_{a}']['row'].str.split(' ', expand=True)
  return

In [11]:
def add_range(a):
  temp_table =  globals()[f'table_{a}']
  temp_table = temp_table.rename(columns={0: "var1_start", 1: "var2_start", 2:'length'})
  temp_table = temp_table.astype(int)
  temp_table['var1_end'] = temp_table['var1_start'] + temp_table['length']
  temp_table['var2_end'] = temp_table['var2_start'] + temp_table['length']
  temp_table = temp_table.astype(int)
  globals()[f'table_{a}_range'] = temp_table
  return

In [12]:
def seed_map(a):
  seeds.loc[len(seeds)] = '.'
  for y in np.arange(0, seeds.shape[1], 1, dtype = int):
    temp_table_map =  globals()[f'table_{a}_range']
    condition = (seeds.loc[a-2,y] >= temp_table_map['var2_start']) & (seeds.loc[a-2,y] <= temp_table_map['var2_end'])
    condition2 = (seeds.loc[a-2,y] == temp_table_map['var2_start']) | (seeds.loc[a-2,y] == temp_table_map['var2_end'])
    if np.sum(condition) >= 1:
      difference = int(seeds.loc[a-2,y] - temp_table_map.loc[condition, 'var2_start'].values[0])
      #print(difference)
      start_value = int(temp_table_map.loc[condition, 'var1_start'].values[0] )
      mapped_num = start_value+difference
     # print(mapped_num)
      seeds.loc[a-1,y] = mapped_num
    else:
      difference = None

    if seeds.loc[a-1,y] == '.':
      seeds.loc[a-1,y] = seeds.loc[a-2,y]
  return

In [13]:
aa = np.arange(1, a, 1, dtype = int)
aa
for t in aa:
  table_clean(t)
  if t == 1:
    continue
  else:
    add_range(t)

In [14]:
seeds = table_1.iloc[: , 1:]
seeds = seeds.astype(int)
#seeds.loc[len(seeds)] = '.'
seeds#.loc[0,1]
#seeds.shape[1]

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,3121711159,166491471,3942191905,154855415,3423756552,210503354,2714499581,312077252,1371898531,165242002,752983293,93023991,3321707304,21275084,949929163,233055973,3626585,170407229,395618482,226312891

In [ ]:
z = 1
new_seeds = []
while z-1 != seeds.shape[1]:
  results = np.arange(seeds.loc[0,z], seeds.loc[0,z]+seeds.loc[0,z+1], 1, dtype = int)
  new_seeds = np.concatenate((new_seeds, results))
  z += 2

In [356]:
test = pd.DataFrame(data = new_seeds)
#test.T
seeds = test.T
seeds = seeds.astype(int)
seeds

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,79,80,81,82,83,84,85,86,87,88,...,58,59,60,61,62,63,64,65,66,67

In [357]:
aa = np.arange(2, a, 1, dtype = int)
aa
for t in aa:
  seed_map(t)

In [358]:
seeds

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,79,80,81,82,83,84,85,86,87,88,...,58,59,60,61,62,63,64,65,66,67
1,81,82,83,84,85,86,87,88,89,90,...,60,61,62,63,64,65,66,67,68,69
2,81,82,83,84,85,86,87,88,89,90,...,60,61,62,63,64,65,66,67,68,69
3,81,82,83,84,85,86,87,88,89,90,...,56,57,62,63,64,65,66,67,68,69
4,74,75,76,77,78,79,80,81,82,83,...,49,50,55,56,57,58,59,60,61,62
5,78,79,80,45,46,47,48,49,50,51,...,85,86,91,92,93,94,95,96,97,98
6,78,79,80,46,47,48,49,50,51,52,...,85,86,91,92,93,94,95,96,97,98
7,82,83,84,46,47,48,49,50,51,52,...,89,90,95,96,97,57,58,59,60,98

In [359]:
seeds.iloc[len(seeds)-1].min()

46