<a href="https://colab.research.google.com/github/couch-taco/Advent-of-Code/blob/main/day_5_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install aocd

Collecting aocd
  Downloading aocd-0.1-py2.py3-none-any.whl (1.3 kB)
Collecting advent-of-code-data (from aocd)
  Downloading advent_of_code_data-2.0.1-py3-none-any.whl (36 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from advent-of-code-data->aocd) (4.11.2)
Collecting pebble (from advent-of-code-data->aocd)
  Downloading Pebble-5.0.5-py3-none-any.whl (30 kB)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from advent-of-code-data->aocd) (2.0.7)
Collecting aocd-example-parser>=2023.2 (from advent-of-code-data->aocd)
  Downloading aocd_example_parser-2023.12.6-py3-none-any.whl (12 kB)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->advent-of-code-data->aocd) (2.5)
Installing collected packages: pebble, aocd-example-parser, advent-of-code-data, aocd
Successfully installed advent-of-code-data-2.0.1 aocd-0.1 aocd-example-parser-2023.12.6 pebble-5.0.5

In [6]:
from aocd import get_data, submit
import pandas as pd
import numpy as np
import re

In [224]:
puzzel_year = 2023
puzzel_day = 5
cookies = ''
raw = get_data(day = puzzel_day, year = puzzel_year, session= cookies)

In [194]:
test_data = """seeds: 79 14 55 13

seed-to-soil map:
50 98 2
52 50 48

soil-to-fertilizer map:
0 15 37
37 52 2
39 0 15

fertilizer-to-water map:
49 53 8
0 11 42
42 0 7
57 7 4

water-to-light map:
88 18 7
18 25 70

light-to-temperature map:
45 77 23
81 45 19
68 64 13

temperature-to-humidity map:
0 69 1
1 0 69

humidity-to-location map:
60 56 37
56 93 4"""

In [225]:
data = raw

In [226]:
df = pd.DataFrame(data = data.split('\n'))
df.columns = ['row']

In [227]:
df

                                                   row
0    seeds: 3121711159 166491471 3942191905 1548554...
1
2                                    seed-to-soil map:
3                        522866878 679694818 556344137
4                       1206934522 1236038955 57448427
..                                                 ...
182                   1111558812 2115272893 1374715990
183                    3356676818 3489988883 239746683
184                     3297710080 1614928763 58966738
185                     2486274802 4162599840 35752676
186                     3596423501 4198352516 96614780

[187 rows x 1 columns]

In [228]:
rows = np.arange(0, len(df), 1, dtype = int)

In [229]:
a=1
for x in rows:
  #temp_table = pd.DataFrame(columns = ['row'])
  i = 1
  if x == 0:
    #name = df.iloc[x,0]
    #name = name.split(':')[0]
    globals()[f'table_{a}'] = df[x:x+1]
    a+=1
  elif df.iloc[x, 0] == '':
    #name = df.iloc[x+1,0]
    #name = name.split(' ')[0]
    while df.iloc[x+i, 0] != '' and x+i+1 != len(df):
      if x+i+2 == len(df):
        i +=1
        globals()[f'table_{a}'] = df[x+2:x+i+2]
      elif df.iloc[x+i, 0] != '':
        i +=1
        globals()[f'table_{a}'] = df[x+2:x+i]
    a+=1
  else:
    continue

In [230]:
def table_clean(a):
  globals()[f'table_{a}'] = globals()[f'table_{a}']['row'].str.split(' ', expand=True)
  return

In [231]:
def add_range(a):
  temp_table =  globals()[f'table_{a}']
  temp_table = temp_table.rename(columns={0: "var1_start", 1: "var2_start", 2:'length'})
  temp_table = temp_table.astype(int)
  temp_table['var1_end'] = temp_table['var1_start'] + temp_table['length']
  temp_table['var2_end'] = temp_table['var2_start'] + temp_table['length']
  temp_table = temp_table.astype(int)
  globals()[f'table_{a}_range'] = temp_table
  return

In [232]:
def seed_map(a):
  seeds.loc[len(seeds)] = '.'
  for y in np.arange(1, seeds.shape[1]+1, 1, dtype = int):
    temp_table_map =  globals()[f'table_{a}_range']
    condition = (seeds.loc[a-2,y] >= temp_table_map['var2_start']) & (seeds.loc[a-2,y] <= temp_table_map['var2_end'])
    condition2 = (seeds.loc[a-2,y] == temp_table_map['var2_start']) | (seeds.loc[a-2,y] == temp_table_map['var2_end'])
    if np.sum(condition) >= 1:
      difference = int(seeds.loc[a-2,y] - temp_table_map.loc[condition, 'var2_start'].values[0])
      #print(difference)
      start_value = int(temp_table_map.loc[condition, 'var1_start'].values[0] )
      mapped_num = start_value+difference
     # print(mapped_num)
      seeds.loc[a-1,y] = mapped_num
    else:
      difference = None

    if seeds.loc[a-1,y] == '.':
      seeds.loc[a-1,y] = seeds.loc[a-2,y]
  return

In [233]:
aa = np.arange(1, a, 1, dtype = int)
aa
for t in aa:
  table_clean(t)
  if t == 1:
    continue
  else:
    add_range(t)

In [235]:
seeds = table_1.iloc[: , 1:]
seeds = seeds.astype(int)
#seeds.loc[len(seeds)] = '.'
seeds

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,3121711159,166491471,3942191905,154855415,3423756552,210503354,2714499581,312077252,1371898531,165242002,752983293,93023991,3321707304,21275084,949929163,233055973,3626585,170407229,395618482,226312891

In [236]:
aa = np.arange(2, a, 1, dtype = int)
aa
for t in aa:
  seed_map(t)

In [237]:
seeds

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,3121711159,166491471,3942191905,154855415,3423756552,210503354,2714499581,312077252,1371898531,165242002,752983293,93023991,3321707304,21275084,949929163,233055973,3626585,170407229,395618482,226312891
1,3392292051,1274087684,4045614702,1080615888,3694337444,1318099567,2985080473,1419673465,107474378,1272838215,596155353,1146507971,3592288196,21275084,793101223,1340652186,3626585,1278003442,1503214695,1333909104
2,3290898373,875020460,2858015890,681548664,3592943766,919032343,2653829911,1020606241,1293910085,873770991,1862276412,747440747,3490894518,1207710791,394033999,941584962,1190062292,878936218,1104147471,934841880
3,4176141958,885550744,3882091174,142797276,2444028136,929562627,3677905195,1031136525,1424127855,884301275,1862276412,590315634,2546151363,1337928561,1195295586,952115246,1166049531,889466502,1755044342,945372164
4,3896262601,618994725,3088365029,47342037,2151587072,663006608,2884179050,1428599924,1821591254,617745256,885581108,323759615,2253710299,1735391960,1592758985,86632293,1563512930,622910483,778349038,79889211
5,377448749,2826162882,305589695,81392788,3857419937,3280806342,4266190950,2119365272,3482898639,2824913413,751099250,2852326607,1051863793,3396699345,1684928211,13701534,2254278278,2830078640,643867180,6958452
6,2666845583,1954509379,2594986529,971042070,2032862680,2376780194,4266190950,3400515958,3021352521,1953259910,642320287,3201139656,1686170636,2935153227,2244723192,903350816,3535428964,1958425137,535088217,896607734
7,1663131502,3701339508,1591272448,971042070,3779692809,1373066113,3664261935,2396801877,2017638440,3700090039,642320287,2197425575,3037672564,1931439146,1241009111,903350816,3402116899,3705255266,535088217,896607734

In [238]:
seeds.iloc[len(seeds)-1].min()

535088217